
.scroll-up-button-on {
  position: fixed;
  bottom:50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);;
  background: url("http://i1155.photobucket.com/albums/p559/scrolltotop/arrow3.png");
  background-position: center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  animation: round .35s 1;
}
.scroll-up-button-off {
  animation: round-off .50s 1;
}
@keyframes round-off {
  to{
    opacity: 0;
  }
  from {
    transform: rotate(-360deg);
  }
}

@keyframes round {
  from {
    transform: rotate(360deg);
  }
}

.menu-side {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 500px;
  padding-top: 30px;
  background: #556270;
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.menu-side-toggle {
  content: '';
  height: 50px;
  width: 50px;
  display: none;
}
.menu-side ul {
  padding: 0px;
  text-align: center;
  list-style: none;
}
.menu-side ul li {
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 2em;
}
.menu-side ul li i {
  display: none;
  font-size: .4em;
}

.menu-side ul li di {
  opacity: 0;
  position: absolute;
  text-transform: capitalize;
  padding: 5%;
  font-size: .5em;
  font-weight: bolder;
  letter-spacing: 1px;
  background: #556270;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  top: 50%;
  right: -50%;
  height: 50%;
  color: #fff;
  transform: translate3d(-20%,-50%,0);
  border-radius: 5px;
  transition: all .3s ease-in;
}
.menu-side ul li:hover di {
  opacity: .75;
  transform: translate3d(0%,-50%,0);
}
.menu-side ul li di::before {
  position: absolute;
  opacity: .75;
  top:50%;
  left: -23%;
  content: '';
  border: 8px solid rgba(0, 0, 0, 0);
  border-right-color: #657280;
  transform: translate3d(0,-50%,0);
}
@media screen and (min-width: 1000px) {
  .menu-side ul li i {
    display: block;
    font-size: 0.5em;
  }
}
@media screen and (max-width: 768px) {
 .menu-side {
   transform: translate3d(-100%,0,0);
   position: fixed;
   width: 50px;
   z-index: 10;
 }
  .menu-side .menu-side-toggle {
   position: fixed;
   top: 2%;
   border-radius:0 0 4px 0;
   left: 100%;
   width: 25px;
   height: 75px;
   background: #556270;
   background-size: cover;
   background-repeat: no-repeat;
   border: 0px solid black;
   display: block;
 }
 .menu-side .menu-side-toggle::after {
  border-top: 32px solid transparent;
  border-right:32px solid #556270;
  content: '';
  position: absolute;
  transform: rotate(45deg);
  right: 8px;
  bottom: -15px;
  opacity: 0.75;
}
.menu-side .menu-side-toggle::before {
  position: absolute;
  content: '';
  border-top: 36px solid transparent;
  border-right: 36px solid #59e9df;
  transform: rotate(180deg);
  top: -10px;
  right: -11px;
  opacity: 75;
}
 .menu-side:hover {
   transform: translate3d(0,0,0);
   animation: menu-open-anim .35s 1;
 }
 .menu-side-open {
   transform: translate3d(0,0,0);
   animation: menu-open-anim .35s 1;
 }
 @keyframes menu-open-anim {
   from {
     transform: translate3d(-110%,0,0);
   }
 }
}
